.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    border-right-color: rgba(128,128,128,0.05);
    border-right-width: 1px;
    border-right-style: solid;
     
    
    
}
.inside-sidebar{
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 20px;
   padding-bottom: 20;
}
.inside-sidebar:hover{
    background-color: rgba(128,128,128,0.15)
}
.icon-sidebar{
    width:24px;
}
.label-icon{
    font-size: 10px;
    padding-top: 5px;
    font-family: roboto,arial;
}